{% extends 'base.html.twig' %}

{% block title %}Parcour Nature !{% endblock %}
    {% block stylesheets %}
    <style>
        .img{
            width: 200px;
        }
    </style>
    {% endblock %}

{% block body %}

    <h1>Parcour Nature</h1>
 
    {% for plant in plants %}
        {# <ul>{{plant.name }} #}
            {% for routeplant in plant.routePlants %}
                <button>{{ routeplant.content }}</button>
            {% endfor %}
        {# </ul> #}
        {{plant.name }} 
        {{plant.content }} 
        <img src="{{plant.picture}}"/>
    {% endfor %}
{% endblock %}



