{% extends 'base.html.twig' %}

{% block title %}Parcour Nature !{% endblock %}
    {% block stylesheets %}
    <style>
        .img{
            width: 200px;
        }
    </style>
    {% endblock %}

{% block body %}

    <h1>Parcour Nature</h1>
 
    {% for routeplant in routeplants %}

        {# {{ routeplant.idPlant.name }} #}
        {# <button class="#">{{ routeplant.content }}</button> #}

    {% endfor %}
   

        {# <p>{{ routeplant.idPlant.name }}</p>
        <p>{{ routeplant.idPlant.content }}</p>
        <img src="{{ routeplant.idPlant.picture }}" class="img" /> #}

    
{% endblock %}



